body {
    font-family: monospace;
    background-color: black;
    color: #5EBD3E;
}

td {
    height: 1rem;
}

#legend {
    margin-top: 3rem;
}

#legend>table {
  width: 20rem;
  margin-top: 0;
}

#legend td:first-child {
    width: 1rem;
    max-width: 1rem;
}

td.present {
    background-color: #5EBD3E;
    text-align: center;
}

/* UNCOMMENT FOR DEBUGGING VISUALIZATION td.present a { color: pink; } */

td.present>a {
    color: #5EBD3E;
    opacity: 0;
}
#chart tr:hover>td.present {
    opacity: 0.5;
}
#chart tr:hover>td:hover.present {
    opacity: 1;
}
#chart tr:hover>td.present>a {
    opacity: 1;
    color: white;
}

td.present.deprecated {
    background-color: #009CDF;
}

td.present.msg-changed {
    background-image: linear-gradient(
        to right top,
        #FFB900 33%,
        transparent 33%,
        transparent 66%,
        #FFB900 66%
    );
    background-size: 3px 3px;
}

#chart tbody>tr:hover {
    color: white;
}

.version {
    width: 1rem;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

a {
    color: #5EBD3E;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

table {
    margin-top: 5rem;
}

.source {
    margin-top: 2rem;
}

.source a {
    text-decoration: underline;
}
